.grid{
  margin: 0 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  gap: 1rem;
}

.card{
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.card-image{
  width: 200px;
}